src/test/resources/namespace_shizzle/targetnamespace_test.xsd

<?xml version="1.0"?>
<xs:schema xmlns="DefaultNamespace"
           targetNamespace="DefaultNamespace"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="Hoi">
        <xs:sequence>
            <xs:element name="Ns1" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="SimpleHoi">
        <xs:restriction base="xs:string" />
    </xs:simpleType>

</xs:schema>