src/test/resources/minoccurs/min_occurs.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="MinOccursSpecific">
        <xs:sequence>
            <xs:element name="TwoPlease" type="xs:string" minOccurs="2"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="MinOccursSpecificDefault">
        <xs:sequence>
            <xs:element name="OneDefault" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

</xs:schema>